// fonts
.fp {font-family: 'Open Sans',sans-serif;} // font primary
.fh {font-family: 'PT Serif',sans-serif;} // font header
.fi {font-family: 'jv-icons',sans-serif;} // font icon

// body
@bb: #fff9ea url(../images/bg/01.jpg) top; // body background

// colors
@c1: #424242;
@c2: #8c0010;
@c3: #ef8417;
@c4: #f7c30e;
@c5: #ffe382;
@c6: #411014;
@cp: @c1; // color primary
@cl: @c2; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 1140px;
@content-width-md: 960px;
@content-width-sm: 740px;
@content-width-xs: 100%;
@content-padding: 10px;

// media query >>> @media @xs, @sm
@md: ~"(min-width: 992px) and (max-width: 1199px)";
@sm: ~"(min-width: 768px) and (max-width: 991px)";
@xs: ~"(max-width: 767px)";