#col-home-main {
	float: left;
	width: 66.6666%;
	padding: 42px 10px 0 0;
	@media @sm {
	float: none;
		width: 100%;
		padding-right: 0;
	}
	@media @xs {
		float: none;
		width: 100%;
		padding: 0;
	}
}
#col-home-right {
	float: right;
	width: 33.3333%;
	padding: 42px 0 0 10px;
	@media @sm {
		width: 100%;
		padding-left: 0;
	}
	@media @xs {
		float: none;
		width: auto;
		padding-left: 0;
	}
}
#col-main {
	float: right;
	width: 755px;
	@media @md {
		width: 640px;
	}
	@media @sm, @xs {
		float: none;
		width: 100%;
		margin-bottom: 60px;
	}
}
#col-left {
	float: left;
	width: 265px;
	@media @sm, @xs {
		float: none;
		width: 100%;
	}
}
.main_container {
	padding: 40px 0 30px;
	@media @xs {
		padding: 20px 0;
	}
}
#page-header {
	position: relative;
	z-index: 999;
	background: #80051a;
	padding: 0 0 8px;
	background: -moz-linear-gradient(top,  #90071d 0%, #5b0112 98%, #1a0005 100%);
	background: -webkit-linear-gradient(top,  #90071d 0%,#5b0112 98%,#1a0005 100%);
	background: linear-gradient(to bottom,  #90071d 0%,#5b0112 98%,#1a0005 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90071d', endColorstr='#1a0005',GradientType=0 );
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 24px;
		background: url(../images/bg/02.png) no-repeat top;
		background-size: 90% 100%;
	}
	.container {
		background: url(../images/bg/04.png) repeat-y top;
		@media @xs {
			background: none;
		}
	}
	.logo {
		position: absolute;
		z-index: 1;
		left: 10px;
		bottom: -46px;
		top: 0;
		width: 234px;
		text-align: center;
		background: url(../images/bg/03.png) no-repeat bottom;
		@media @xs {
			position: relative;
			height: 180px;
			margin: 0 auto;
			left: auto;
			bottom: auto;
			background: none;
			width: auto;
			height: auto;
		}
		a {
			position: absolute;
			display: block;
			left: 32px;
			bottom: 35px;
			right: 41px;
			@media @xs {
				position: static;
				margin: 30px 25%;
			}
		}
	}
}
.mod_menu-lang {
	position: relative;
	text-align: right;
	padding: 20px 0 18px 245px;
	@media @md, @sm, @xs {
		text-align: center;
		margin-bottom: 20px;
	}
	@media @xs {
		text-align: center;
		margin-bottom: 20px;
		padding: 0 0 20px;
	}
	&:before{
		content: '';
		position: absolute;
		bottom: 0;
		right: 20px;
		width: 350px;
		height: 16px;
		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 75%);
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 75%);
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 75%);
		background-repeat: no-repeat;
		background-position: 0 8px;
		@media @md, @sm {
			width: auto;
			left: 265px;
		}
		@media @xs {
			width: auto;
			left: 20px;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			margin: 0 0 0 5px;
			@media @xs {
				margin: 0 8px;
			}
			&.act {
				a {
					img {
						border-color: #fff;
					}
				}
			}
			a {
				img {
					display: block;
					border: 1px solid #c75667;
				}
				&:hover {
					img {
						border-color: #fff;
					}
				}
			}
		}
	}
}
.mod_menu-contact {
	.fh;
	color: @c4;
	text-shadow: 1px 1px 0 fade(#000,50%);
	float: left;
	font-size: 14px;
	padding: 0 0 20px 245px;
	@media @md, @sm {
		float: none;
		text-align: center;
		padding-bottom: 0;
	}
	@media @xs {
		float: none;
		text-align: center;
		padding: 0;
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			text-transform: uppercase;
			font-weight: bold;
			margin: 0 0 0 40px;
			mark {
				display: block;
				color: #fff;
				font-weight: normal;
				font-size: 24px;
				margin: 0 0 0 -16px;
			}
		}
	}
}
.mod_menu-main {
	float: right;
	margin: 26px 0 20px;
	@media @md, @sm {
		float: none;
		text-align: center;
		padding-left: 245px;
	}
	@media @xs {
		float: none;
		text-align: center;
		margin: 20px 0;
	}
	ul {
		.rul;
		li {
			.rli;
			.fh;
			display: inline-block;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			margin: 0 0 0 20px;
			@media @xs {
				margin: 0 5px;
			}
			&.act {
				a {
					color: #fff;
				}
			}
			a {
				color: @c5;
				text-decoration: none;
				&:hover{
					color: #fff;
				}
			}
		}
	}
}
.intro_container {
	position: relative;
	padding: 57px 0 100px;
	min-height: 320px;
	@media @md, @sm  {
		padding: 50px 0 40px;
	}
	@media @xs {
		padding: 0;
		min-height: auto;
	}
	&:before{
		content: '';
		position: absolute;
		z-index: 999;
		bottom: 0;
		left: 0;
		right: 0;
		height: 10px;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.46) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.46) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.46) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#75000000',GradientType=0 );

	}
	.col_left {
		float: left;
		width: 59.4%;
		padding: 0 0 0 40%;
		@media @md, @sm  {
			padding-left: 0;
			width: 40%;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0;
			margin: 0 -10px;
		}
	}
	.col_right {
		float: left;
		width: 40.6%;
		@media @md, @sm  {
			width: 60%;
		}
		@media @xs {
			float: none;
			width: auto;
			padding: 0;
			margin: 0 -10px;
		}
	}
}
.mod_custom-slider {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @c6;
	@media @xs {
		position: relative;
	}
	ul {
		.rul;
		position: absolute!important;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		@media @xs {
			position: relative!important;
			padding: 0 0 50%;
		}
		li {
			.rli;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			&:first-child {
				z-index: 1;
			}
			img {
				display: none;
			}
		}
	}
	.pager {
		position: absolute;
		z-index: 999;
		bottom: 20px;
		right: 20px;
		span {
			.border-radius(50%);
			//.box-shadow(inset 0 0 4px fade(#000,80%));
			display: inline-block;
			text-indent: -9999px;
			width: 16px;
			height: 16px;
			margin: 0 0 0 6px;
			background: @c3;
			cursor: pointer;
			&.cycle-pager-active {
				background: @c2;
			}
		}
	}
}
.mod_custom-booking {
	position: relative;
	z-index: 999;
	padding: 15px 24px;
	color: #fff;
	background: #691735;
	background: -moz-linear-gradient(left,  #831a3b 0%, #37132a 92%, #181425 100%);
	background: -webkit-linear-gradient(left,  #831a3b 0%,#37132a 92%,#181425 100%);
	background: linear-gradient(to right,  #831a3b 0%,#37132a 92%,#181425 100%);
	#col-left & {
		margin: 30px 0;
		background: #570011;
		background: -moz-linear-gradient(left,  #570011 0%, #90071d 50%, #570011 100%);
		background: -webkit-linear-gradient(left,  #570011 0%,#90071d 50%,#570011 100%);
		background: linear-gradient(to right,  #570011 0%,#90071d 50%,#570011 100%);
	}
	.mod-title {
		.fh;
		font-size: 18px;
		line-height: 1.2;
		margin: 0 0 10px;
		text-transform: uppercase;
		font-weight: bold;
		color: @c5;
	}
	label {
		display: block;
		font-size: 13px;
		line-height: 1.2;
		margin: 0 0 3px;
	}
	.form_control {
		.clearfix;
		margin: 0 0 5px;
		input[type="text"] {
			.border-radius(4px);
			width: 78%;
			margin: 0 3px 0 0;
			height: 30px;
			float: left;
			border: 0;
			color: #fff;
			font-size: 14px;
			background: @c6;
		}
		img {
			float: left;
			margin: -1px -20px 0 0;
		}
	}
	.submit {
		margin: 9px 0 -23px;
		@media @xs {
			margin-bottom: 20px;
		}
		button {
			display: block;
			width: 100%;
			height: 52px;
			line-height: 46px;
			border: 3px solid #5b0112;
		}
	}
}
.mod_custom-banner {
	position: relative;
	z-index: 999;
	color: #fff;
	margin: 0 0 10px;
	background: #570011;
	background: -moz-linear-gradient(left,  #570011 0%, #90071d 50%, #570011 100%);
	background: -webkit-linear-gradient(left,  #570011 0%,#90071d 50%,#570011 100%);
	background: linear-gradient(to right,  #570011 0%,#90071d 50%,#570011 100%);
	#col-left & {
		padding-bottom: 10px;
		&:before, &:after{
			z-index: 1;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 10px;
			background: #7a2323;
			background: -moz-linear-gradient(left,  #7a2323 0%, #b13a35 50%, #7a2323 100%);
			background: -webkit-linear-gradient(left,  #7a2323 0%,#b13a35 50%,#7a2323 100%);
			background: linear-gradient(to right,  #7a2323 0%,#b13a35 50%,#7a2323 100%);
		}
		&:after{
			height: 2px;
			background: #7a2323;
			background: -moz-linear-gradient(left,  #7a2323 0%, #e9945e 100%);
			background: -webkit-linear-gradient(left,  #7a2323 0%,#e9945e 100%);
			background: linear-gradient(to right,  #7a2323 0%,#e9945e 100%);
		}
	}
	@media @xs {
		margin: 0;
	}
	a {
		color: #fff;
	}
	.mod-title {
		.fh;
		position: relative;
		text-transform: uppercase;
		font-size: 26px;
		line-height: 1.2;
		color: @c2;
		background: #ef8417;
		background: -moz-linear-gradient(left,  #f7c30e 0%, #ef8417 90%, #ef8417 100%);
		background: -webkit-linear-gradient(left,  #f7c30e 0%,#ef8417 90%,#ef8417 100%);
		background: linear-gradient(to right,  #f7c30e 0%,#ef8417 90%,#ef8417 100%);
		a {
			display: block;
			padding: 14px 20px 15px 50px;
			text-decoration: none;
			color: @c2;
			@media @xs {
				padding-left: 90px;
			}
			&:hover{
				[class^="icon-"] {
					background: @c2;
				}
			}
		}
		.bg {
			display: block;
			margin: -14px -20px -15px -50px;
			padding: 14px 20px 15px 50px;
			&.pivovar {
				background: url(../images/bg/07.png) no-repeat center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
			}
		}
		figure {
			float: right;
			max-width: 46%;
			margin: 9px 9px 0 5px;
			#col-left & {
				max-width: 40%;
				margin-right: -5px;
			}
			@media @md, @sm, @xs {
				max-width: 36%;
			}
			img {
				display: block;
			}
		}
		small {
			display: block;
			text-transform: none;
			font-style: italic;
			font-size: 18px;
			color: darken(@c2,20%);
			#col-left & {
				font-size: 14px;
			}
		}
		[class^="icon-"] {
			.transition(0.2s);
			.border-radius(50%);
			.box-shadow(2px 2px 5px fade(#000,50%));
			position: absolute;
			left: -28px;
			top: 50%;
			margin: -30px 0 0;
			height: 60px;
			line-height: 60px;
			width: 60px;
			font-size: 36px;
			text-align: center;
			color: #fff;
			background: @c3;
			@media @xs {
				left: 10px;
			}
		}
	}
	ul {
		.rul;
		position: relative;
		padding: 18px 0 15px 55px;
		#col-left & {
			padding: 28px 20px 32px 50px;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			border-left: 30px solid transparent;
			border-top: 30px solid #ef8417;
		}
		@media @md  {
			padding-left: 20px;
		}
		@media @xs {
			padding: 25px 20px;
		}
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -2px;
			font-size: 15px;
			line-height: 1.2;
			padding: 0 20px 7px 14px;
			#col-left & {
				display: block;
				width: 100%;
				margin: 0;
			}
			@media @md {
				font-size: 14px;
			}
			&:before{
				top: 0;
				font-size: 18px;
				content: '\e802';
				color: #fff;
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	nav {
		position: relative;
		background: fade(@c5,20%);
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 2px;
			background: -moz-linear-gradient(left,  rgba(249,194,122,0) 0%, rgba(249,194,122,1) 50%, rgba(249,194,122,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(249,194,122,0) 0%,rgba(249,194,122,1) 50%,rgba(249,194,122,0) 100%);
			background: linear-gradient(to right,  rgba(249,194,122,0) 0%,rgba(249,194,122,1) 50%,rgba(249,194,122,0) 100%);
		}
		a {
			text-align: right;
			font-size: 14px;
			display: block;
			padding: 8px 15px 11px;
			color: @c5;
			text-decoration: none;
			&:hover{
				color: #fff;
			}
			&:after{
				.fi;
				content: '\e813';
				font-size: 17px;
				margin: 0 0 0 10px;
			}
		}
	}
}
.mod_newsflash_xart {
	.mod-title {
		.fh;
		.line-decor;
		position: relative;
		font-size: 36px;
		line-height: 1.2;
		text-transform: uppercase;
		color: @c2;
		padding: 0 0 20px;
		margin: 0 0 15px;
		@media @xs {
			text-align: center;
		}
	}
	.items {
		.item {
			.clearfix;
			padding: 45px 4.5% 38px 0;
			background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAnSURBVHjaYvz//z8DDHxolfjPwMDAIFD9ghEmxsRAAAAAAAD//wMAgnUHAVqDZF0AAAAASUVORK5CYII=') repeat-x top;
			&:first-child {
				background: none;
			}
			figure {
				float: right;
				margin: 0 0 15px 30px;
				text-align: center;
				@media @xs {
					float: none;
					margin: 0 0 20px;
				}
				img {
					display: block;
					padding: 10px;
					border: 1px solid @c3;
					@media @xs {
						margin: auto;
					}
				}
				a {
					&:hover{
						img {
							background: fade(@c3,20%);
						}
					}
				}
			}
			.date {
				.fh;
				font-size: 18px;
				font-style: italic;
				color: darken(@c2,20%);
				margin: 5px 0 2px;
			}
			h2 {
				color: @c2;
				font-weight: bold;
				font-size: 26px;
				margin: 0 0 25px;
			}
			mark {
				color: @c2;
			}
		}
	}
}
.mod_custom-promo {
	.line-decor;
	margin: 0 0 30px;
	padding: 43px 40px 28px;
	border: none;
	border-top: 10px solid fade(@c3,20%);
	background: fade(@c5,30%);
	#col-left & {
		padding: 0;
		border-top: none;
	}
	@media @xs {
		background: none;
		padding: 0;
	}
	&:before{
		bottom: auto;
		top: 0;
	}
	&:after{
		bottom: auto;
		top: 0;
	}
	.buttons {
		position: relative;
		z-index: 1;
		margin: 0 -10px 40px;
		ul {
			.rul;
			display: table-row;
			#col-left & {
				display: block;
			}
			@media @xs {
				display: block;
			}
			li {
				.rli;
				.fh;
				text-transform: uppercase;
				display: table-cell;
				width: 33.3333%;
				font-size: 17px;
				padding: 14px 10px 21px;
				min-height: 105px;
				vertical-align: middle;
				#col-left & {
					display: block;
					width: auto;
					padding-top: 30px;
					padding-bottom: 35px;
					min-height: 0;
				}
				@media @xs {
					display: block;
					width: auto;
					padding-top: 30px;
					padding-bottom: 35px;
					min-height: 0;
				}
				&:before{
					content: '';
					position: absolute;
					z-index: -1;
					left: 10px;
					right: 10px;
					top: 0;
					bottom: 0;
					min-height: 105px;
					border-bottom: 10px solid fade(@c5,20%);
					background: #570011;
					background: -moz-linear-gradient(left,  #570011 0%, #90071d 50%, #570011 100%);
					background: -webkit-linear-gradient(left,  #570011 0%,#90071d 50%,#570011 100%);
					background: linear-gradient(to right,  #570011 0%,#90071d 50%,#570011 100%);
					#col-left & {
						min-height: 0;
					}
					@media @xs {
						min-height: 0;
					}
				}
				&:after{
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 2px;
					background: -moz-linear-gradient(left,  rgba(249,194,122,0) 0%, rgba(249,194,122,1) 50%, rgba(249,194,122,0) 100%);
					background: -webkit-linear-gradient(left,  rgba(249,194,122,0) 0%,rgba(249,194,122,1) 50%,rgba(249,194,122,0) 100%);
					background: linear-gradient(to right,  rgba(249,194,122,0) 0%,rgba(249,194,122,1) 50%,rgba(249,194,122,0) 100%);
				}
			}
		}
		a {
			display: block;
			padding: 0 45px 0 20px;
			color: @c5;
			text-decoration: none;
			&:hover{
				color: #fff;
				&:after{
					right: 5px;
				}
			}
			&:before{
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
			&:after{
				.fi;
				.transition(0.2s);
				content: '\e810';
				position: absolute;
				top: 50%;
				right: 12px;
				font-size: 42px;
				line-height: 1;
				margin: -25px 0 0;
			}
		}
	}
	h2 {
		font-size: 36px;
		color: @c2;
		margin: 0 0 30px;
		@media @xs {
			text-align: center;
		}
	}
	mark {
		color: @c2;
	}
	.list {
		ul {
			.rul;
			margin: 0 0 30px;
			li {
				.rli;
				padding: 0 0 0 70px;
				margin: 0 0 23px;
				@media @xs {
					text-align: center;
					padding-left: 0;
				}
				[class^="icon-"] {
					.border-radius(50%);
					position: absolute;
					left: 0;
					top: 50%;
					width: 54px;
					height: 54px;
					line-height: 54px;
					margin: -28px 0 0;
					text-align: center;
					color: #fff;
					font-size: 30px;
					background: @c3;
					@media @xs {
						position: static;
						display: block;
						margin: auto;
					}
				}
				.icon-fish {
					font-size: 34px;
				}
				mark {
					font-size: 19px;
					font-weight: bold;
					color: @c1;
				}
			}
		}
	}
}
.mod_banners {
	#col-left & {
		@media @sm {
			display: inline-block;
			vertical-align: top;
			margin: 0 -2px;
			width: 33.3333%;
		}
	}
	.mod-title {
		.fh;
		font-size: 36px;
		line-height: 1.2;
		color: @c2;
		text-align: center;
		margin: 0 0 19px;
	}
	&>ul {
		.rul;
		margin: 0 0 35px;
		&>li {
			.rli;
			margin: 0 0 20px;
			#col-left & {
				@media @sm {
					width: 100%;
				}
			}
			@media @sm {
				display: inline-block;
				width: 50%;
				margin: 0 -2px;
				padding: 0 10px;
				vertical-align: top;
			}
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
	.harrach_banner {
		position: relative;
		.line-decor;
		margin: 0 0 30px;
		.title {
			.fh;
			font-size: 26px;
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			padding: 170px 10px 27px;
			background: @c2 url(../images/bg/08.png) no-repeat;
			background-position: top;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			#col-left & {
				padding-top: 155px;
				padding-bottom: 16px;
				font-size: 21px;
				background-size: 140% auto;
			}
			@media @md {
				background-size: 125% auto;
			}
			@media @xs {
				&, #col-left & {
					font-size: 26px;
					padding: 170px 10px 27px;
					-webkit-background-size: inherit;
					-moz-background-size: inherit;
					-o-background-size: inherit;
					background-size: inherit;
					background-repeat: repeat-x;
				}
			}
		}
		.content {
			.fh;
			padding: 28px 50px;
			font-size: 18px;
			color: darken(@c2,20%);
			background: #f9e8b9 url(../images/bg/10.png) no-repeat right bottom;
			#col-left & {
				padding: 23px 26px 16px;
			}
			@media @md {
				padding: 20px 30px;
			}
			@media @sm {
				
			}
			p {
				margin: 0 0 13px;
			}
			ul {
				.rul;
				li {
					.rli;
					.fp;
					color: @c3;
					font-size: 15px;
					line-height: 1.2;
					padding: 0 0 0 32px;
					margin: 0 0 9px;
					&:before{
						.border-radius(50%);
						content: '\e814';
						color: #fff;
						height: 22px;
						width: 22px;
						line-height: 22px;
						font-size: 13px;
						text-align: center;
						top: -2px;
						background: @c3;
					}
				}
			}
		}
		nav {
			a {
				.fh;
				text-transform: uppercase;
				color: #fff;
				text-decoration: none;
				display: block;
				font-weight: bold;
				font-size: 14px;
				padding: 33% 47% 18% 19%;
				background: url(../images/bg/09.png) no-repeat;
				background-repeat: no-repeat;
				background-position: top;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				#col-left & {
					font-size: 13px;
					padding: 36% 43% 18% 15%;
					background-size: 110% auto;
					@media @sm {
						font-size: 12px;
						padding: 36% 43% 18% 15%;
						&:before{
							display: none;
						}
					}
				}
				@media @md, @sm {
					padding-left: 17%;
					padding-right: 43%;
				}
				@media @xs {
					&, #col-left & {
						font-size: 14px;
						padding: 33% 47% 18% 19%;
						-webkit-background-size: cover;
						-moz-background-size: cover;
						-o-background-size: cover;
						background-size: cover;
					}
				}
				&:hover{
					&:before{
						left: 5px;
					}
				}
				&:before{
					.fi;
					.transition(0.2s);
					position: relative;
					top: 5px;
					left: 0;
					content: '\e810';
					float: right;
					font-size: 30px;
					line-height: 1;
				}
			}
		}
	}
}
.mod_custom-partners {
	#col-left & {
		@media @sm {
			display: inline-block;
			margin: 0 -2px;
			vertical-align: top;
			width: 66.6666%;
			padding: 0 10%;
		}
	}
	ul {
		.rul;
		margin: 0 0 60px;
		li {
			.fh;
			.rli;
			color: darken(@c2,20%);
			font-size: 18px;
			text-align: center;
			font-style: italic;
			margin: 0 10% 20px;
			line-height: 1.3;
			#col-left & {
				margin-left: 0;
				margin-right: 0;
			}
			img {
				display: block;
				margin: 30px auto;
			}
		}
	}
}
.mod_custom-facebook {
	text-align: center;
	padding: 0 0 320px;
	margin: 0 0 30px;
	background: url(../images/bg/05.png) no-repeat bottom;
	background-size: 100% auto;
	#col-left & {
		@media @sm, @xs {
			padding: 0;
			background: none;
		}
	}
	#col-left & {
		padding-bottom: 220px;
	}
	@media @xs {
		background: none;
		padding-bottom: 0;
	}
	.mod-title {
		.fh;
		position: relative;
		font-size: 32px;
		line-height: 1.2;
		color: @c2;
		padding: 0 0 20px;
		margin: 0 0 33px;
		border-bottom: 10px solid fade(@c2,65%);
		#col-left & {
			font-size: 28px;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: -10px;
			left: 0;
			right: 0;
			height: 1px;
			background: @c3;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -15px;
			height: 5px;
			left: 0;
			right: 0;
			background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
		}
	}
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			margin: 0 1px;
			[class^="icon-"] {
				.border-radius(50%);
				.transition(0.2s);
				display: block;
				width: 54px;
				height: 54px;
				line-height: 54px;
				font-size: 30px;
				text-align: center;
				color: #fff;
				background: @c3;
			}
			a {
				&:hover{
					[class^="icon-"] {
						background: @c2;
					}
				}
			}
			img {
				.border-radius(50%);
				display: block;
				max-width: 54px;
			}
		}
	}
}
.mod_breadcrumbs {
	ul {
		.rul;
		margin: 0 0 30px;
		li {
			.fh;
			font-style: italic;
			display: inline-block;
			font-size: 14px;
			margin: 0 10px 0 0;
			padding: 0 0 0 15px;
			font-weight: bold;
			color: @c2;
			&:before{
				content: '\e802';
				top: 2px;
				font-weight: normal;
				font-style: normal;
			}
			&:first-child {
				padding-left: 0;
				&:before{
					display: none;
				}
			}
			a {
				font-weight: normal;
				color: lighten(@c1,30%);
			}
		}
	}
}
#col-bottom {
	position: relative;
	padding: 55px 0 28px;
	background: #90071d;
	background: -moz-linear-gradient(top,  #90071d 0%, #570011 100%);
	background: -webkit-linear-gradient(top,  #90071d 0%,#570011 100%);
	background: linear-gradient(to bottom,  #90071d 0%,#570011 100%);
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
		width: 100%;
		height: 24px;
		background: url(../images/bg/02.png) no-repeat top;
		background-size: 90% 100%;
	}
}
.mod_custom-contact, .mod_custom-guestbook, .mod_custom-preview  {
	float: left;
	width: 33.3333%;
	color: #fff;
	margin: 0 0 30px;
	@media @xs {
		width: auto;
		float: none;
		padding: 0;
		margin-bottom: 60px;
	}
	a {
		color: @c5;
	}
	.mod-title {
		.fh;
		text-transform: uppercase;
		color: @c3;
		font-size: 26px;
		line-height: 1.2;
		margin: 0 0 10px;
		small {
			text-transform: none;
			font-style: italic;
			color: @c5;
			font-size: 17px;
			display: block;
		}
	}
	nav {
		padding: 17px 0 0;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAnSURBVHjaYvz//z8DDHxolfjPwMDAIFD9ghEmxsRAAAAAAAD//wMAgnUHAVqDZF0AAAAASUVORK5CYII=') repeat-x top;
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 16px;
			margin: 0 20px 0 0;
			&:hover{
				color: #fff;
			}
			&:before{
				.fi;
				content: '\e813';
				color: @c4;
				font-size: 18px;
				margin: 0 7px 0 0;
			}
		}
	}
}
.mod_custom-contact {
	padding: 0 30px 0 0;
	font-size: 15px;
	@media @sm {
		width: 50%;
		margin-bottom: 60px;
	}
	.map {
		float: right;
		margin: 0 5px 0 0;
		img {
			display: block;
		}
		a {
			display: inline-block;
			position: relative;
			text-decoration: none;
			color: @c3;
			&:hover{
				color: #fff;
			}
			&:before{
				.fi;
				content: '\e807';
				position: absolute;
				top: 8px;
				right: 5px;
				font-size: 24px;
				line-height: 1;
			}
		}
	}
	address {
		font-style: normal;
		margin: 24px 0 21px;
		line-height: 1.5;
		font-size: 16px;
	}
}
.mod_custom-guestbook {
	padding: 0 20px 0 10px;
	@media @sm {
		width: 50%;
		margin-bottom: 60px;
	}
	blockquote {
		position: relative;
		padding: 0 40px 0 0;
		margin: 24px 0 31px;
		line-height: 1.5;
		&:before{
			.fi;
			content: '\e80a';
			position: absolute;
			top: -11px;
			right: 7px;
			font-size: 32px;
			line-height: 1;
			color: @c3;
		}
		p {
			margin: 0 0 9px;
		}
		.author {
			font-size: 15px;
			font-style: italic;
			color: @c5;
			text-align: right;
			margin: 0 -33px 0 0;
			mark {
				color: @c3;
			}
		}
	}
}
.mod_custom-preview {
	padding: 0 0 0 10px;
	@media @sm {
		width: 100%;
	}
	ul {
		.rul;
		margin: 28px -9px 24px;
		li {
			.rli;
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 9px;
			margin: 0 -4px 0 0;
			a {
				position: relative;
				display: block;
				text-decoration: none;
				&:hover{
					&:before{
						color: #fff;
					}
				}
				&:before{
					.fi;
					.border-radius(50%);
					content: '\e80b';
					width: 34px;
					height: 26px;
					line-height: 26px;
					font-size: 26px;
					background: #7b0519;
					position: absolute;
					left: 50%;
					top: -13px;
					margin: 0 0 0 -17px;
					text-align: center;
					color: @c3;
				}
				img {
					display: block;
					margin: 0 auto;
				}
				span {
					.fh;
					text-transform: uppercase;
					position: absolute;
					top: 50%;
					left: 0;
					right: 0;
					margin: -12px 0 0;
					padding: 2px 5px;
					color: #fff;
					font-size: 12px;
					text-align: center;
					background: fade(#000,30%);
				}
			}
		}
	}
}
#page-footer {
	background: #fff;
	padding: 40px 0 80px;
	@media @xs {
		padding-bottom: 40px;
	}
	a {
		color: lighten(@c1,30%);
	}
	.copy {
		float: left;
		font-size: 13px;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
		.links {
			margin: 0 0 0 20px;
			@media @sm, @xs {
				display: block;
				margin: 0;
			}
		}
	}
	.xart {
		float: right;
		font-size: 12px;
		text-transform: uppercase;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
		a {
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			display: block;
			float: right;
			margin: 0 0 0 10px;
			@media @sm, @xs {
				float: none;
				margin: 0 auto 5px;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	background: @c3;
	border-top: 1px solid @c2;
	@media @xs {
		position: static;
	}
	a {
		color: @c5;
	}
	.content {
		margin: 0 -2px;
		padding: 0 20px 0 0;
		display: inline-block;
		vertical-align: middle;
		width: 80%;
		font-size: 13px;
		@media @xs {
			width: 100%;
		}
		p {
			margin: 5px 0;
		}
	}
	nav {
		margin: 0 -2px;
		display: inline-block;
		vertical-align: middle;
		width: 20%;
		@media @xs {
			width: 100%;
			margin: 10px 0;
		}
		a {
			.btn;
			display: block;
		}
	}
}
#gotop{
	@media @xs {
		display: none;
	}
	a{
		.transition(0.2s);
		.border-radius(50%);
		.box-shadow(0 0 3px fade(#000,50%));
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e803';
			font-size: 36px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}