.rul{
	margin: 0;
	padding: 0;
}
.rli{
	margin: 0;
	padding: 0;
	background: none;
	&:before{
		content: '';
	}
}
.rin{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: none;
}
.line-decor {
	position: relative;
	display: block;
	margin: 30px 0;
	border-bottom: 10px solid fade(@c3,20%);
	&:before{
		content: '';
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		height: 1px;
		background: -moz-linear-gradient(left,  rgba(249,194,122,0) 0%, rgba(242,166,113,1) 30%, rgba(242,166,113,0.5) 50%, rgba(242,166,113,1) 70%, rgba(249,194,122,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(249,194,122,0) 0%,rgba(242,166,113,1) 30%,rgba(242,166,113,0.5) 50%,rgba(242,166,113,1) 70%,rgba(249,194,122,0) 100%);
		background: linear-gradient(to right,  rgba(249,194,122,0) 0%,rgba(242,166,113,1) 30%,rgba(242,166,113,0.5) 50%,rgba(242,166,113,1) 70%,rgba(249,194,122,0) 100%);
	}
	&:after{
		content: '';
		position: absolute;
		bottom: -15px;
		height: 5px;
		left: 0;
		right: 0;
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
	}
}