nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e813';
			font-weight: normal;
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	font-size: 14px;
	background: lighten(@c5,15%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@cp,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@c5,10%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@cl,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@cl,20%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	margin: 40px 0 0;
	padding: 20px 0;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAAnSURBVHjaYvz//z8DDHxolfjPwMDAIFD9ghEmxsRAAAAAAAD//wMAgnUHAVqDZF0AAAAASUVORK5CYII=') repeat-x top;
	a,span{
		.border-radius(50%);
		.btn;
		padding: 0;
		width: 46px;
		height: 46px;
		line-height: 46px;
		font-size: 20px;
		font-weight: normal;
	}
	span.pagenav{
		color: #fff;
		background: @c3;
	}
	span.pagenav-ico{
		cursor: default;
		color: @c1;
		background: lighten(@c5,0%);
	}
}
.clear-decor,.description_separator,.article_separator{
	.line-decor;
	clear: both;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 10px;
	border: 1px solid lighten(@c3,0%);
}
a.xeditorpopup:hover img{
	background: fade(@c3,20%);
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @c3;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @c6;
	}
	.warning,.error{
		background: lighten(@c2,10%);
	}
}
