
.icon-down-open-mini:before { content: '\e800'; } /* '' */
.icon-left-open-mini:before { content: '\e801'; } /* '' */
.icon-right-open-mini:before { content: '\e802'; } /* '' */
.icon-up-open-mini:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-suitcase:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-zoom-in:before { content: '\e807'; } /* '' */
.icon-zoom-out:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-beer:before { content: '\e80c'; } /* '' */
.icon-tv:before { content: '\e80d'; } /* '' */
.icon-restaurant:before { content: '\e80e'; } /* '' */
.icon-bed:before { content: '\e80f'; } /* '' */
.icon-arr-thin-right:before { content: '\e810'; } /* '' */
.icon-arr-thin-left:before { content: '\e811'; } /* '' */
.icon-fish:before { content: '\e812'; } /* '' */
.icon-arr-arab-right:before { content: '\e813'; } /* '' */
.icon-hops:before { content: '\e814'; } /* '' */