@font-face {
  font-family: 'jv-icons';
  src: url('../font/jv-icons.eot?38510526');
  src: url('../font/jv-icons.eot?38510526#iefix') format('embedded-opentype'),
       url('../font/jv-icons.woff?38510526') format('woff'),
       url('../font/jv-icons.ttf?38510526') format('truetype'),
       url('../font/jv-icons.svg?38510526#jv-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'jv-icons';
    src: url('../font/jv-icons.svg?38510526#jv-icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "jv-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open-mini:before { content: '\e800'; } /* '' */
.icon-left-open-mini:before { content: '\e801'; } /* '' */
.icon-right-open-mini:before { content: '\e802'; } /* '' */
.icon-up-open-mini:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-suitcase:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-zoom-in:before { content: '\e807'; } /* '' */
.icon-zoom-out:before { content: '\e808'; } /* '' */
.icon-quote-left:before { content: '\e809'; } /* '' */
.icon-quote-right:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-beer:before { content: '\e80c'; } /* '' */
.icon-tv:before { content: '\e80d'; } /* '' */
.icon-restaurant:before { content: '\e80e'; } /* '' */
.icon-bed:before { content: '\e80f'; } /* '' */
.icon-arr-thin-right:before { content: '\e810'; } /* '' */
.icon-arr-thin-left:before { content: '\e811'; } /* '' */
.icon-fish:before { content: '\e812'; } /* '' */
.icon-arr-arab-right:before { content: '\e813'; } /* '' */
.icon-hops:before { content: '\e814'; } /* '' */